<h1>Faqs#new</h1>
<p>Find me in app/views/faqs/new.html.erb</p>

<%= form_for(@faq) do |f| %>
  <div class="field">
    <%= f.label :question %><br/>
    <%= f.text_field :question, :size => "120"  %>
  </div>
  <div class="field">
    <%= f.label :answer %><br/>
    <%= f.text_field :answer, :size => "120"  %>
  </div>
  <div class="field">
    <%= f.label :sport %><br/>
    <%= f.select :sport, @sports %>
  </div>
  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>
